{% extends "acceso/base.html"%}

{% block contenido%}
<div class="row" mt-3>
    <div class="col-2">
    </div>
    <div class="col-4">
        <h3><i class="fa fa-bicycle" aria-hidden="true"></i>  Correo confirmado</h3>
        <hr>
        <p>Aprete el siguiente link para hacer login</p>
        
        <div class="d-flex">
            <a href="http://localhost:8000/" class="btn btn-primary me-2">Login</a>
        </div>
    </div>
        <div class="col-4">
        </div>
</div>

{% endblock %}