{% extends "acceso/base.html"%}
{% load static %}


{% block titulo %} - Recuperar Contraseña{% endblock %}

{% block estilos %}

<style>

</style>

{% endblock %}
{% block contenido %}

<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-white">
                  <img class="logo" src="{% static 'img/bicicleta.png' %}"></img>
                  <h1>TallerAPP </h1>
              </ul>
              <div class="d-flex">
                  <a href="{%url 'acceso:bienvenida'%}" class="btn btn-success">Inicio</a>
              </div>
          </div>
      </div>
    </nav>
</div>

<div class='row'>
    <div class="container col-6 mt-5 text-center">
        <form action="" method="post">
            {% csrf_token %}
            {{ forgotPasswordForm.non_field_errors }}
            {% for field in forgotPasswordForm %}
            <div class="mb-3 row">
                <label for="{{ field.id_for_label }}" class="col-3 col-form-label">{{ field.label }}</label>
                <div class="col-4">
                    {{ field }}
                </div>
                {% if field.errors %}
                <div class="alert alert-danger mt-2" role="alert">
                    {% for error in field.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
                {% endif %}
                {% if field.help_text %}
                <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
            {% endfor %}
            <div class="row">
                    <div class="col-7 d-flex flex-row-reverse">
                        <button class="btn btn-primary offset-3" type="submit">Enviar</button>
                    </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}