{% extends "acceso/base.html"%}
{% load static %}
{% block titulo %} - Registro{% endblock %}

{% block contenido %}
<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-white">
                    <img class="logo" src="{% static 'img/bicicleta.png' %}"></img>
                    <h1>TallerAPP </h1>
                </ul>
                <div class="d-flex">
                    <a href="{%url 'acceso:bienvenida'%}" style="background-color:#6E7DE4; border-color: #6E7DE4; border-radius:20px; width: 150px" class="btn btn-success">Inicio</a>
                </div>
            </div>
        </div>
    </nav>
</div>

<div class="row rowregistro">
        <div class="col-6 registro">
            <div class='col-8'>
                <h3>Registro</h3>
                <hr>
            </div>

            <form action="" method="post">
            
                {% csrf_token %}
                {{ formRegister.non_field_errors }}

                {% for field in formRegister %}
                <div class="mb-3 row">


                    <label for="{{ field.id_for_label }}" class="col-sm-3 col-form-label">{{ field.label }}</label>
                    <div class="col-5">
                        {{ field }}
                    </div>

                    {% if field.errors %}

                    <div class="alert alert-danger mt-2" role="alert">
                        {% for error in field.errors %}
                        {{ error }}
                        {% endfor %}
                    </div>

                    {% endif %}

                    {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
                {% endfor %}
                <div class="row">
                        <div class="col-8 d-flex flex-row-reverse">
                            <button class="btn btn-primary offset-3" style="background-color:#6E7DE4; border-color: #6E7DE4; border-radius:20px; width: 150px" type="submit">Enviar</button>
                        </div>
                </div>
            </form>
        </div>
        <div class="col-6 text-center registro-right">
            <h1 class='registro-titulo'>Registrate y llega a más clientes</h1>
            <hr>
                <h2 style="color: white"><i class="fa fa-wrench" aria-hidden="true" style="color:rgb(146, 200, 251)"></i> Podrás mostrar tus servicios</h2>
                <h2 style="color: white"><i class="fa fa-users" aria-hidden="true" style="color:rgb(146, 200, 251)"></i> Generar contacto directo con clientes</h2>
                <h2 style="color: white"><i class="fa fa-facebook" aria-hidden="true" style="color:rgb(146, 200, 251)"></i> Dar a conocer tus redes sociales</h2>
                <h2 style="color: white"><i class="fa fa-comments" aria-hidden="true" style="color:rgb(146, 200, 251)"></i> Recibir feedback y evaluaciones</h2>
                <h2 style="color: white"><i class="fa fa-heart" aria-hidden="true" style="color:rgb(146, 200, 251)"></i> Pertenecer a una red de talleres y amantes de las bicicletas</h2>
        </div>
    </div>
{% endblock %}
