{% extends "core/base.html"%}
{% load static %}
{% load l10n %}

{% block titulo %}Cambio Contraseña{% endblock %}

{% block estilos %}

{% endblock %}
{% block tituloNav %}<img class="logo" src="{% static 'img/bicicleta.png' %}"></img>
                  <h2>TallerAPP</h2>{% endblock  %}
{% block botonone %}<a href="{%url 'dashboard:talleres'%}" class="btn btn-primary">Todos los Talleres</a>{% endblock %}
{% block botontwo %}<a href="{%url 'dashboard:index'%}" class="btn btn-warning">DashBoard</a>{% endblock %}
{% block contenido %}


<div class="container col-12 mt-5">
    <div class=" ms-5 me-5 col-5">
        <h3>Ingresa los campos Requeridos</h3>
                <hr>
                <form action="" method="post">
                    {% csrf_token %}
                    {{ formModel.non_field_errors }}
    
                    {% for field in formModel %}
                    <div class="mb-3 row">
                        <label for="{{ field.id_for_label }}" class="col-5 col-form-label">{{ field.label }}</label>
                        <div class="col-7">
                            {{ field }}
                        </div>
                        {% if field.errors %}
                        <div class="alert alert-danger mt-2" role="alert">
                            {% for error in field.errors %}
                            {{ error }}
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <div class="col-7 d-inline-flex flex-row-reverse mt-2">
                        <a href="{%url 'dashboard:index'%}" class="btn btn-secondary">Cancelar</a>
                    </div>
                    <div class="col-4 d-inline-flex flex-row-reverse mt-2">
                        <button class="btn btn-warning" type="submit">Editar Contraseña</button>
                    </div>
                </form>
    </div>
</div>
























{% endblock %}