body {
    background: #ffffff;
}

.row {
    --bs-gutter-x: 0rem
}

.logotitulo {
    width: 80px;
}

.principal-body {
    margin: 0px 0px 0px 0px;
    padding: 225px 250px 0px 100px;
    text-align: center;
    width: 50%;
    height: 100%
}

.titulo {
    font-size: 70px;
    margin: 0px 43px 20px 0px;
    padding: 0px 0px 0px 0px;
}

.subtitulo {
    margin: 0px 0px 30px 0px;
}

.imagenprincipal {
    margin: 0px 0px 0px 0px;
    padding: 58px 0px 0px 150px;
    background-color: #6E7DE4;
    height: 809px;
    width: 50%
}

.imagenprincipal img {
    width: 600px;
}

.contenedor-mapa {
    padding: 0px 0px 0px 60px;
}

.btn-talleres {
    font-size: 20px;
    border-radius: 24px;
    border-color: #6E7DE4;
}

.rowbienvenida {
    width: 100%;
    height: 100%
}

.logo {
    width: 50px;
}

.body-left {
    padding: 0px 0px 0px 160px;
    margin: 0px 0px 0px 0px;
    width: 800px
}

.body-right {
    padding: 0px 0px 0px 160px;
    margin: 0px 0px 0px 0px;
    width: 680px
}

.rowregistro {
    width: 100%;
    height: 809px;
}

.registro {
    padding: 153px 0px 0px 215px;
    margin: 0px 0px 0px 0px;
    width: 50%;
}

.registro-right {
    background-color: #6E7DE4;
    padding: 160px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 50%;
}

.registro-titulo {
    font-size: 40px;
    margin: 0px 0px 25px 0px;
}

.registro-right h2 {
    margin: 0px 0px 25px 0px;
}